.edit_form{
    width: 400px;
}
.name_surname_box{
    display: flex;
}
.img-block{
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
}
.img-block-wrapper{
    display: flex;
    justify-content: center;
}
.img:hover{
    transition: 0.2s;
    opacity: 0.6;
}